body {
    background-image: url(front.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.retro {
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    text-transform: uppercase;

    background-color: white;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    border: solid 0.125rem #121212;
    box-shadow: 0.25rem 0.25rem #121212;

    transition: transform 50ms, box-shadow 50ms;

    margin-left: 10px;
    margin-top: 10px;
}
.retro:active {
    transform: translate(0.125rem, 0.125rem);
    box-shadow: 0.125rem 0.125rem #121212;
}
.set > button {
    margin-left: 10px;
}